# Environment
venv/
.venv/
env/

# Secret config
.env

# Python cache
__pycache__/
*.pyc

# Testing
.pytest_cache/

# IDE
.vscode/
.idea/

# ML Models & Dataset
indonesian_food_clean.csv
best_model.keras
nutrify_model.keras
.vercel
